doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Books Natural Templates with our service.')
    meta(name='author', content='Natours Team')
    title Natours | Textarea he exciting tour thingy for natural people.
    link(rel='stylesheet', href='css/style.css')
    link(rel='shortcut icon', type='image/png', href='img/favicon.png')

  body
    //- h1= title 
    //- h2= message.toUpperCase()
    //- - var x = 9
    //- h2= 2 * x 
    
    include _header.pug
    include _section.pug 
    include _footer.pug

